/* ładowanie własnego fontu z pliku oraz nadanie mu nazwy, pod jaką można go wywoływać 
	dla elementów strony WWW */
@font-face {
	src: url('bof.ttf');
	font-family: BoF;
}

header {
	background: #9ab7d4;
	text-align: center;
	margin: 0;
	overflow: hidden;
}
header h1 {
	margin: 0;
	height: 30px;
	font-size: 30px;
	padding-top: 35px;
	padding-bottom: 35px;
	text-transform: uppercase;
}
nav {
	background: linear-gradient(#9ab7d4,#fff);
}
.button {
	background: #0053a7;
	color: #bda3d6;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #bebbc1;
	text-align: center;
	display: inline-block;
	width: 20%;
	overflow: hidden;
	cursor: pointer;
}
.button p {
	height: 15px;
	font-size: 15px;
	margin: 0;
	padding-top: 7.5px;
	padding-bottom: 7.5px;
	
}
#content {
	background: linear-gradient(#fff,#bababb);
}
#contentLeft {
	width: 80%;
	height: auto;
	float: left;
}
#contentLeft article h3 {
	font-size: 18px;
	color: #423c49;
	font-weight: 800;
	text-decoration: underline;
	font-family: BoF;
}
#contentLeft article p {
	font-size: 14px;
	color: #423c49;
	font-family: Arial;
}
#contentLeft article cite {
	font-size: 14px;
	color: #423c49;
	text-decoration: underline;
	font-family: BoF;
}
#contentRight {
	float: right;
	width: 20%;
	overflow: hidden;
}
#contentRight img{
	width: 100%;
	height: auto;
}
/* element-sztuczka (trickCSS) upewniający nas, że
	#content będzie posiadało odpowiednią wysokość 
	(właściwość float wyjmuje elementy z naturalnego opływu
	co może powodować nieprawidłową wysokość elementu zawierającego ją) */	
#content::after{
	content: '';
	display: table;
	clear: both;
}
footer {
	background: #bababb;
	text-align: center;
	font-size: 10px;
	color: white;
	overflow: hidden;
}